<a href="https://colab.research.google.com/github/samanthamartinez-chem/BEDU/blob/master/listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Listas**

Es una colección de datos en un orden particular. Los datos no tienen que estar relacionados en alguna manera partícular, y ya que generalmente contienen más d eun elemento, es buena idea nombrarlas como plurales, como "letras, dígitos o nombres".

###En phyton, los brackets [] indican una lista, y los elementos individuales están separados por comas.

In [ ]:
bycicles = ['treck', 'cannondale', 'redline', 'specilized']
print(bycicles)

['treck', 'cannondale', 'redline', 'specilized']

##**¿Cómo accesar a elementos individuales de una lista?**

Las listas son colecciones ordenadas, así que se puede accesar a cualquier elemento al decirle a Python la posición o el índice del objeto de interés. Por ejemplo

In [ ]:
print(bycicles[0])

treck

**Python considera al primer elemento en la posición 0**

Los métodos pueden combinarse, por ejemplo, pediremos que se muestre el primer elemento de la lista bycicles en forma de título:

In [ ]:
print(bycicles[0].title())

Treck

**Phyton también tiene una sintaxis especial para accesar al último elemento de una lista mediante el índice -1**

In [ ]:
print(bycicles[-1])

specilized

##**Usar valores individuales de una lista**

Por ejemplo, para crear un mensaje basado en el valor de un lista

In [ ]:
message = "My first bycicle was a " + bycicles[0].title() + "."

print(message)

My first bycicle was a Treck.

In [ ]:
names = ["Daniela", "Regina", "Fermín", "Ulises", "Axel"]

print(names[0].upper())
print(names[1].lower())
print(names[-2])

DANIELA
regina
Ulises

In [ ]:
message_names = "Hola " + names[0] 
print(message_names)

Hola Daniela

In [ ]:
things = ['working out', 'motorcycle', 'organic chemistry', 'computational chemistry', 23]

In [ ]:
print("I would like to ride a " + things[1] + ".")
print("I love " + things[0] + " in the mornings.")
print("I don't like " + things[2] + " a lot.")
print("I'll get my chemistry degree when I'm " + str(things[-1]) + " years old." )

I would like to ride a motorcycle.
I love working out in the mornings.
I don't like organic chemistry a lot.
I'll get my chemistry degree when I'm 23 years old.

##**Cómo cambiar, añadir o remover elementos**

##Modificando:
La sintaxis es similar a la forma para accesar. Para cambiarlo, usa el nombre de la lista seguido por el índice del elemento que se debe cambiar y luego poner el nuevo valor.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

##Añadiendo: 
La manera más simple de hacerlo es con el método "append". Cuando se usa, el nuevo elemento es añadido al final de la lista.

In [ ]:
motorcycles.append('honda')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati', 'honda']

Este método es importante para crear listas dinámicamente. Por ejemplo, se puede comenzar con una lista vacía y luego ir añadiendo objetos a la lista usando una serie de appends:

In [ ]:
motorcycles = []

In [ ]:
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'honda', 'yamaha', 'suzuki']

##Insertando: 
Se puede insertar un nuevo elemento en cualquier posición al usar el método insert(). Se puede especificar el índice de un nuevo elemento y el valor de un nuevo item.

In [ ]:
motorcycles = ["honda", 'yamaha', 'suzuki']

In [ ]:
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

##Removiendo: 
A menudo se debe remover un objeto o un conjunto de objetos de una lista. Si se conoce la posición del objeto, se puede usar el statement "del".

In [ ]:
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']

**Usando el método pop()**
Algunas veces se necesitará usar el valor de un objeto después de haberlo removido de una lista. El método pop() permite eliminar el **último** objet de la lista, pero permite trabajar con él después de eliminarlo.

In [ ]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [ ]:
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha']
suzuki

Puede usarse el método pop() para removier un objeto de la lista en cualquier posición al incluir el índice entre los paréntesis

In [ ]:
motorcycles.pop(0)
print(motorcycles)

['yamaha']

##Si se está insegura sobre usar del o pop(): cuando se necesite borrar un elemento de una lista y no usarlo más, usar sentencia del, si se usará más adelante después de removerlo, usar pop()

##**Remover un objeto mediante el valor**:
Si no se conoce la posición del objeto, pero se conoce cuál es el valor, se puede usar el método remove()

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

Se puede usar el método remover para trabajar con un valor que está siendo removido de una lista.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
print("\nA " + too_expensive.title() + " is too expensive for me.")

A Ducati is too expensive for me.

**El método remove() solo elimina la primer ocurrencia del valor especificado. Si hay posibilidad de que el valor aparezca más de una vez en la lista, se deberá hacer un loop para determinar si las ocurrencias del valor han sio eliminadas.**

In [ ]:
guest_list = ["Michelle Obama", "Jason Maoma", "Martín"]

print("Dear " + guest_list[0] + " you're invited to my dinner tomorrow night.")

Dear Michelle Obama you're invited to my dinner tomorrow night.

In [ ]:
guest_wont_make_it = (guest_list.pop(1))

In [ ]:
guest_list = ["Michelle Obama", "Jason Maoma", "Martín"]
guest_list[1] = "Ariana Grande"
print(guest_list)

['Michelle Obama', 'Ariana Grande', 'Martín']

In [ ]:
print("Hey " + guest_list[0] + ", I found a bigger table")

Hey Michelle Obama, I found a bigger table

In [ ]:
guest_list.insert(0, "Marco")

In [ ]:
guest_list

['Marco', 'Michelle Obama', 'Ariana Grande', 'Martín']

#**Organizing a list**

A menudo, las listas se crearán con un órden impredecible. Phyton permite ordenar las listas en un orden particular.

**El método sort() cambia el orden de la lista permanentemente**

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort() 
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

Al revés:

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

**Para ordenar una lista temporalmente se usa la función sorted()**

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']